<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id = "userdaoimpl" class = "in.vini.beans.UserDAOImpl"></bean>
        <bean id = "service" class = "in.vini.beans.UserService">
        <constructor-arg name = "var" ref = "userdaoimpl"></constructor-arg>
        </bean>
</beans>